#### Zadanie 1: Tworzenie silnika oraz utworzenie bazy (ddl)

Stwórz silnik SQLAlchemy do łączenia się z bazą danych MySQL. Połącz się z serwerem MySQL i stwórz bazę danych "company_db2"

In [ ]:
# Tutaj nic nowego
from sqlalchemy import create_engine
from sqlalchemy import text


# napis połączeniowy (ang. connection string)
conn_str = "mysql+mysqlconnector://***:***@***:***/***"

engine = create_engine(conn_str)

stmt = text("""CREATE DATABASE IF NOT EXISTS company_db2;""")
with engine.connect() as conn:
    conn.execute(stmt)

#### Zadanie 2: Tworzenie tabeli (ddl)

Stwórz tabelę `employee` w bazie danych "company_db" z następującymi kolumnami:

`id (typ: Integer, klucz główny)` \
`first_name (typ: String o maksymalnej długości 50)` \
`last_name (typ: String o maksymalnej długości 100)` \
`position (typ: String o maksymalnej długości 100)` \
`salary (typ: Float)`

In [ ]:
# wciąż nic nowego
# napis połączeniowy (ang. connection string)
conn_str = "mysql+mysqlconnector://***:***@***:***/***"
engine = create_engine(conn_str, echo=True)

In [ ]:
from sqlalchemy import create_engine
from sqlalchemy import MetaData, Table, Column, Integer, Float, String
from sqlalchemy.orm import DeclarativeBase, mapped_column

# W ORM tabele są reprezentowane w kodzie przez modele (aka mapped class).
# Model to specjalna klasa (reprezentująca tabelkę),
# klasa która dziedziczy po klasie DeclarativeBase (deklaratywnej klasie bazowej).
# Deklaratywna klasa bazowa wie jak reprezentować/odbijać (ang. reflection) tabele bazodanowe.
# Jak tworzymy modele w SQLAlchemy ?


class Base(DeclarativeBase):
    pass

# # Stara szkoła - wciąż wspierana tzw.
# # Declarative Table with mapped_column()
# # model Employee
# class Employee(Base):
#     __tablename__ = "employee"

#     id = mapped_column(Integer, primary_key=True)
#     first_name = mapped_column(String(50))
#     last_name = mapped_column(String(100))
#     position = mapped_column(String(100))
#     salary = mapped_column(Float)

# Nowsza szkoła - zalecane jest używanie anotacji (aka type hinting)
# w sqlalchemy 2.x, tzw. Annotated Declarative Table 
from typing import Optional
from sqlalchemy.orm import Mapped


# Dobrą praktyką jest niedziedziczenie bezpośrednio po klasie `DeclarativeBaseabs`
# na którą nie mamy żadnego wpływu, tylko dziedziczenie po pośredniej klasi, którą
# sami tworzymy i która dziedziczy po DeclarativeBase. W ten sposób jeżeli chcielibyśmy
# zmodyfikować zachowanie wszyskich naszych modeli możemy to zrobić w klasie Base (w klasie
# DeclarativeBase, która jest częścią SQLAlchemy nie moglibyśmy, a przynajmniej nie miałoby
# to sensu bo przy każdej instalacji biblioteki musilibyśmy do niej wprawdzać jakieś zmiany)).
class Employee(Base):
    __tablename__ = "employee"

    id: Mapped[int] = mapped_column(primary_key=True)
    first_name: Mapped[str] = mapped_column(String(50))
    last_name: Mapped[str] = mapped_column(String(100))
    position: Mapped[Optional[str]] = mapped_column(String(100))
    salary: Mapped[float]


# CREATE TABLE (C z CRUD dla DDL)
Base.metadata.create_all(engine)

# DROP TABLE (D z CRUD dla DDL)
# Base.metadata.drop_all(engine)

#### Zadanie 3: Wstawianie danych (dml)
##### C z CRUD dla DML (insert)

Dodaj co najmniej trzy rekordy do tabeli `employee`.

Przykładowe dane:

`{'first_name': 'John', 'last_name': 'Doe', 'position': 'Manager', 'salary': 5000.00}`\
`{'first_name': 'Jane', 'last_name': 'Smith', 'position': 'Developer', 'salary': 4000.00}`\
`{'first_name': 'Alice', 'last_name': 'Johnson', 'position': 'HR', 'salary': 4500.00}`

In [ ]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker

# obiekt modelu reprezentuje wpis w tabeli
e1 = Employee(first_name='John', last_name='Doe', position='Manager', salary=5000.00)
e2 = Employee(first_name='Jane', last_name='Smith', position='Developer', salary=4000.00)
e3 = Employee(first_name='Alice', last_name='Johnson', position='HR', salary=4500.00)

# do wykonywania zapytań zalecane jest używanie obiektu sesji
# `sessionmaker` to funkcja fabryka, która zwraca obiekt sesji
Session = sessionmaker(bind=engine)

# można tak
# session = Session()
# session.add(e1)
# session.add(e2)
# session.add(e3)
# session.commit()
# session.close()

# # ale lepiej tak
# with Session() as session:
#     session.add(e1)
#     session.add(e2)
#     session.add(e3)
#     session.commit()

# albo tak
with Session() as session:
    session.add_all([e1, e2, e3])
    session.commit()

#### Zadanie 4: Wyświetlanie danych (dql)

In [ ]:
from sqlalchemy import func
from sqlalchemy.orm import sessionmaker

Session = sessionmaker(bind=engine)

# Wyświetl wszystkich pracowników
with Session() as session:
    employees = session.query(Employee).all()
    for employee in employees:  # <models.Employee object at ...>
        print(f"{employee.first_name} {employee.last_name}")

# Wyświetl pracownika, którego pierwsze imię to `Alice`
with Session() as session:
    employees = session.query(Employee).filter_by(first_name='Alice')
    for employee in employees:  # <models.Employee object at ...>
        print(f"{employee.first_name} {employee.last_name}")

# Pogrupuj pracowników po stanowiskach
with Session() as session:
    result = session.query(Employee.position, func.count()).group_by(Employee.position)
    for row in result:
        print(f"{row}")  # tym razem to już tuple (no ale przecież wyciągamy z bazy 
        # tylko wartość position i wynik działania funkcji count)

#### Zadanie 5: Aktualizacja danych (dml)
##### SQLAlchemy Expression Language (U z CRUD dla DML) metoda update obiektu klasy Table

Zaktualizuj pensję użytkownika o first_name=Alice z tabeli "employee" na 6000.

In [ ]:
from sqlalchemy.orm import sessionmaker

Session = sessionmaker(bind=engine)
with Session() as session:
    session.query(Employee).filter_by(first_name='Alice').update({'salary': 6000})
    session.commit()

# # Ale można spotkać też i taki kod
# with Session() as session:
#     employees = session.query(Employee).filter_by(first_name='Alice')

#     for employee in employees:
#         employee.salary = 6000
#         session.commit()

#### Zadanie 6: Usuwanie danych (dml)
##### SQLAlchemy Expression Language (D z CRUD dla DML)

Usuń użytkownika o first_name=Alice.

In [ ]:
from sqlalchemy.orm import sessionmaker

Session = sessionmaker(bind=engine)
with Session() as session:
    session.query(Employee).filter_by(first_name='Alice').delete()
    session.commit()

# # Albo tak
# with Session() as session:
#     employees = session.query(Employee).filter_by(first_name='Alice')

#     for employee in employees:
#         session.delete(employee)
#         session.commit()

#### Zadanie 7: Relacje między tabelami

Utwórz drugi model `Department` reprezentujący działy w firmie i dodaj relację między `Employee` a `Department`.

In [ ]:
from sqlalchemy import create_engine, Column, Integer, String, Float, ForeignKey
from sqlalchemy.orm import DeclarativeBase, mapped_column, relationship


# Deklarowanie klasy bazowej dla modeli
class Base(DeclarativeBase):
    pass

class Employee(Base):
    __tablename__ = "employee"

    id: Mapped[int] = mapped_column(primary_key=True)
    first_name: Mapped[str] = mapped_column(String(50))
    last_name: Mapped[str] = mapped_column(String(100))
    position: Mapped[Optional[str]] = mapped_column(String(100))
    salary: Mapped[float]
    # w dokumentacji jest napisane, że ten nowszy styl (z adnotacjami)
    # może jeszcze nie działać dobrze w przypadku definiowania powiązań
    # dlatego tutaj wcią po staremu
    department_id = Column(Integer, ForeignKey('department.id'))


# Definicja modelu Department
class Department(Base):
    __tablename__ = 'department'
    
    id: Mapped[int] = mapped_column(primary_key=True)
    name: Mapped[str] = mapped_column(String(100))
    manager_id = Column(Integer, ForeignKey('employee.id'), nullable=False)
    

# Tworzenie tabeli w bazie danych na podstawie modelu
# Trzeba będzie zrobić najpierw drop_all, bo employee jest
# już w bazie, a potrzebujemy ją zmodyfikować

# Ze względu na wzajemne powiązanie obu tabel
# w msql jeżeli chcemy usunąć którąś z nich
# będziemy to musieli zrobić za pomocą takiego
# zapytania sql:
# SET FOREIGN_KEY_CHECKS=0;
# DROP TABLE company_db2.department;
# DROP TABLE company_db2.employee;
# SET FOREIGN_KEY_CHECKS=1;
# Base.metadata.drop_all(engine)

Base.metadata.create_all(engine)

#### Zadanie 8: Dodanie danych

Dodaj co najmniej dwa działy do tabeli "departments".

In [ ]:
from sqlalchemy.orm import sessionmaker

from sqlalchemy import create_engine
conn_str = "mysql+mysqlconnector://avnadmin:AVNS_Xt_FsVMogQ402J6HTI4@mysql-395886df-jgrynczewski-efe7.d.aivencloud.com:12798/company_db2"
engine = create_engine(conn_str, echo=True)

e1 = Employee(first_name='John', last_name='Doe', position='Manager', salary=5000.00)
e2 = Employee(first_name='Jane', last_name='Smith', position='Developer', salary=4000.00)
e3 = Employee(first_name='Alice', last_name='Johnson', position='HR', salary=4500.00)

d1 = Department(name='R&D', manager_id=2)
d2 = Department(name='HR', manager_id=1)
d3 = Department(name='IT', manager_id=3)

Session = sessionmaker(bind=engine)
with Session() as session:
    session.add_all([e1, e2, e3])
    session.commit()
    session.add_all([d1, d2, d3])
    session.commit()
    session.query(Employee).filter_by(id=1).update({'department_id': 2})
    session.query(Employee).filter_by(id=2).update({'department_id': 1})
    session.query(Employee).filter_by(id=3).update({'department_id': 2})
    session.commit()

#### Zadanie 9: Zapytanie z warunkiem na połączonych tabelach (join)

Wyświetl pracowników, którzy pracują w określonym dziale.

In [ ]:
from sqlalchemy.orm import sessionmaker

# Wybór nazwy działu, dla którego chcemy znaleźć pracowników
department_name = 'HR'

# Tworzenie sesji
Session = sessionmaker(bind=engine)
with Session() as session:
    # Wyświetlenie pracowników pracujących w dziale department_name
    employees_in_department = session.query(Employee).join(Department, Employee.department_id == Department.id).filter(Department.name == department_name).all()

    print(f"Pracownicy w dziale {department_name}:")
    for employee in employees_in_department:
        print(f"{employee.first_name} {employee.last_name} - {employee.position}")