### Powiązania

### Relacja 1-1 (jeden do jeden)

Tworzymy tabelę `country`

<code>CREATE TABLE country (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name VARCHAR(100) NOT NULL,
);</code>

Tworzymy tabelę `capital`, która ma relację 1:1 z `country`

<code>CREATE TABLE capital (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    country_id INTEGER UNIQUE,  -- Powiązanie z tabelą `country`
    name VARCHAR(100) NOT NULL,
    FOREIGN KEY (country_id) REFERENCES country(id)
);</code>

### Relacja 1-N (jeden do wielu)

Tworzymy tabelę `country`

<code>CREATE TABLE country (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name VARCHAR(100) NOT NULL,
);</code>

Tworzymy tabelę `city`, która ma relację 1:N z tabelą `country`

<code>CREATE TABLE city (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name VARCHAR(100) NOT NULL,
    country_id INTEGER,  -- Powiązanie z tabelą `country`
    FOREIGN KEY (country_id) REFERENCES country(id)
);</code>

### Relacja N-N (wiele do wielu)

Tworzymy tabelę `actor`

<code>CREATE TABLE actor (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name VARCHAR(100) NOT NULL
);</code>

Tworzymy tabelę `movie`, powiązaną z `actor` przez tabelę łączącą

<code>CREATE TABLE movie (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name VARCHAR(100) NOT NULL,
);</code>

Tworzymy tabelę łączącą `actor_movie`, która łączy pracowników z projektami

<code>CREATE TABLE actor_movie (
    actor_id INTEGER,  -- Klucz obcy wskazujący na aktora
    movie_id INTEGER,   -- Klucz obcy wskazujący na film
    PRIMARY KEY (actor_id, movie_id),
    FOREIGN KEY (actor_id) REFERENCES actor(id),
    FOREIGN KEY (movie_id) REFERENCES movie(id)
);</code>